*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Courier New', Courier, monospace;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-image: url(bg.jpg);
    background-position:center;
}

h1{
    font-size: 4rem;
}

.container{
    display: flex;
    margin: 2rem 0;
}

.container .big-text{
    font-size: 5rem;
    /* font-weight: bold; */
}

.container span{
    display: block;
    margin: 0rem 2rem;
}